HOST=127.0.0.1
PORT=3001
CICD_TOKEN=change-me
GITHUB_REPO=nguynninh/vlive-docs
APP_DIR=/home/vtvlive/vlive-docs
PM2_APP=vlive-docs
DEPLOY_SCRIPT=/home/vtvlive/vlive-docs-server/scripts/deploy.sh
LOG_FILE=/home/vtvlive/vlive-docs-server/deploy.log
DOCS_BASE_URL=https://docs-mobile.vtvlive.vn
